body {
    background-color: #FFFF99;
    color: blue;
    font-family: verdana;
    font-size: 20px;
  }
  h1 {
    color: red;
    font-family: serif;
    font-size: 50px;
    text-align: center;
  }
   #menu>ul>li {
     padding: 5px;
     background-color: aqua;
     border-radius: 5px;
     margin: 5px;
     width: 200px;
   }
  .important {
    color: green;
    font-size: 35px;
  }
  div.image {
    border: 5px solid red;
    border-radius: 10px;
    background-color: blue;
    padding: 10px;
    width: 200px;
    position: static;
    right: 10px;
    top: 10px;
  }
  div.tableau {
    color: red;
    text-align: center;
    border: 2px;
    width: 33%;
    border-collapse: collapse;
  }
  #color>
  